.2_2 { 
	overflow:hidden;
}.e2_2 { 
	background-color:rgba(223.00000190734863, 195.0000035762787, 140.00000685453415, 1);
	width:2693px;
	height:2297px;
	position:absolute;
}.e2_25 { 
	background-color:rgba(255, 204.00000303983688, 51.00000075995922, 1);
	width:2526px;
	height:553px;
	position:absolute;
	left:81px;
	top:101px;
}.e2_26 { 
	width:644px;
	height:553px;
	position:absolute;
	left:1025px;
	top:101px;
	border-top-left-radius:247px;
	border-top-right-radius:247px;
	border-bottom-left-radius:247px;
	border-bottom-right-radius:247px;
	background-image:url(images/juan_victor_logo_burger_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_27 { 
	background-color:rgba(56.000000461936, 5.000000176951289, 3.000000058673322, 1);
	width:2526px;
	height:163px;
	position:absolute;
	left:84px;
	top:695px;
}.e2_30 { 
	color:rgba(255, 255, 255, 1);
	width:1048px;
	height:97px;
	position:absolute;
	left:823px;
	top:728px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e2_31 { 
	background-color:rgba(51.00000075995922, 204.00000303983688, 51.00000075995922, 1);
	width:2526px;
	height:142px;
	position:absolute;
	left:81px;
	top:923px;
}.e2_33 { 
	color:rgba(0, 0, 0, 1);
	width:403px;
	height:97px;
	position:absolute;
	left:471px;
	top:945px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e2_32 { 
	color:rgba(0, 0, 0, 1);
	width:224px;
	height:97px;
	position:absolute;
	left:178px;
	top:945px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e2_34 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:97px;
	position:absolute;
	left:977px;
	top:945px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e2_35 { 
	color:rgba(0, 0, 0, 1);
	width:567px;
	height:97px;
	position:absolute;
	left:1421px;
	top:945px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e2_36 { 
	color:rgba(0, 0, 0, 1);
	width:447px;
	height:97px;
	position:absolute;
	left:2073px;
	top:945px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_8 { 
	width:1522px;
	height:934px;
	position:absolute;
	left:0px;
	top:1356px;
	background-image:url(images/crianca_feliz_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_7 { 
	width:1252px;
	height:925px;
	position:absolute;
	left:1319px;
	top:1372px;
	background-image:url(images/pessoas_feliz_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_9 { 
	background-color:rgba(56.000000461936, 5.000000176951289, 3.000000058673322, 1);
	width:2496px;
	height:183px;
	position:absolute;
	left:71px;
	top:1149px;
}.e18_10 { 
	color:rgba(205.00000298023224, 153.00000607967377, 51.00000075995922, 1);
	width:1592px;
	height:106px;
	position:absolute;
	left:726px;
	top:1188px;
	font-family:Jacques Francois;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}