.18_18 { 
	overflow:hidden;
}.e18_18 { 
	background-color:rgba(223.00000190734863, 195.0000035762787, 140.00000685453415, 1);
	width:2683px;
	height:2297px;
	position:absolute;
}.e18_19 { 
	background-color:rgba(255, 204.00000303983688, 51.00000075995922, 1);
	width:2526px;
	height:553px;
	position:absolute;
	left:81px;
	top:101px;
}.e18_20 { 
	width:644px;
	height:553px;
	position:absolute;
	left:1025px;
	top:101px;
	border-top-left-radius:247px;
	border-top-right-radius:247px;
	border-bottom-left-radius:247px;
	border-bottom-right-radius:247px;
	background-image:url(images/juan_victor_logo_burger_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_21 { 
	background-color:rgba(56.000000461936, 5.000000176951289, 3.000000058673322, 1);
	width:2526px;
	height:163px;
	position:absolute;
	left:84px;
	top:695px;
}.e18_22 { 
	color:rgba(255, 255, 255, 1);
	width:1048px;
	height:97px;
	position:absolute;
	left:823px;
	top:728px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_23 { 
	background-color:rgba(51.00000075995922, 204.00000303983688, 51.00000075995922, 1);
	width:2526px;
	height:142px;
	position:absolute;
	left:81px;
	top:923px;
}.e18_24 { 
	color:rgba(0, 0, 0, 1);
	width:224px;
	height:97px;
	position:absolute;
	left:178px;
	top:945px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_25 { 
	color:rgba(0, 0, 0, 1);
	width:403px;
	height:97px;
	position:absolute;
	left:471px;
	top:945px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_26 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:97px;
	position:absolute;
	left:977px;
	top:945px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_27 { 
	color:rgba(0, 0, 0, 1);
	width:567px;
	height:97px;
	position:absolute;
	left:1421px;
	top:945px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_28 { 
	color:rgba(0, 0, 0, 1);
	width:447px;
	height:97px;
	position:absolute;
	left:2073px;
	top:945px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_29 { 
	background-color:rgba(56.000000461936, 5.000000176951289, 3.000000058673322, 1);
	width:2496px;
	height:121px;
	position:absolute;
	left:81px;
	top:1149px;
}.e18_30 { 
	color:rgba(205.00000298023224, 153.00000607967377, 51.00000075995922, 1);
	width:1404px;
	height:106px;
	position:absolute;
	left:669px;
	top:1157px;
	font-family:Jacques Francois;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_2 { 
	width:550px;
	height:367px;
	position:absolute;
	left:1988px;
	top:1352px;
	background-image:url(images/picles_certo_burguer_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_37 { 
	width:552px;
	height:341px;
	position:absolute;
	left:1084px;
	top:1335px;
	background-image:url(images/x_salada_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_38 { 
	width:612px;
	height:408px;
	position:absolute;
	left:84px;
	top:1332px;
	background-image:url(images/bacon_deluxe_chef_nomade_ribeirao_preto_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_3 { 
	width:468px;
	height:356px;
	position:absolute;
	left:1520px;
	top:1842px;
	background-image:url(images/super_burguer_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_4 { 
	width:511px;
	height:321px;
	position:absolute;
	left:567px;
	top:1860px;
	background-image:url(images/cheddar_burguer_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_63 { 
	color:rgba(0, 0, 0, 1);
	width:800px;
	height:21px;
	position:absolute;
	left:23px;
	top:1719px;
	font-family:Jacques Francois;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_65 { 
	color:rgba(0, 0, 0, 1);
	width:882px;
	height:21px;
	position:absolute;
	left:919px;
	top:1717px;
	font-family:Jacques Francois;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_66 { 
	color:rgba(0, 0, 0, 1);
	width:800px;
	height:51px;
	position:absolute;
	left:1863px;
	top:1712px;
	font-family:Jacques Francois;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_67 { 
	color:rgba(0, 0, 0, 1);
	width:933px;
	height:51px;
	position:absolute;
	left:332px;
	top:2165px;
	font-family:Jacques Francois;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e18_68 { 
	color:rgba(0, 0, 0, 1);
	width:940px;
	height:36px;
	position:absolute;
	left:1331px;
	top:2165px;
	font-family:Jacques Francois;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}